body {
    margin-top: 1em;
    font-size: 18px;
    font-weight: 300;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.name-column {
    clear: both;
    width: 330px;
    padding: 30px;
    margin: 0 10px 10px 0;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    background: #0092bf;
    float:left;
    height: 126px;
    position:relative;
}

.name-column > .name {
    float: left;
    width: 180px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.3rem;
}
.photo {
    position:absolute;
    bottom:18px;
    right:20px;
    height:150px;
}
.gravatar {
    border-radius: 50%;
    margin:0;
}

.virtual-column {
    float: left;
    margin: 0 10px 10px 0;
}

.column {
    border: 1px dashed #bbb;
    padding: 29px; 
    float: left;
    margin: 0 10px 10px 0;
     
}

.grid-column {
    width: 475px;
    min-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.header-column {
    width: 500px;
    height: 126px;
}

.half-column {
    width: 415px;
    height: 470px;
}

.grid-item {
    height: 20px;
    border: 1px dashed #bbb;
    padding: 15px;
}

.grid-item  a, 
a:link, 
a:active,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}

.quarter-column {
    width: 415px;
    height: 410px;
    padding: 29px;
    border: 1px dashed #bbb;
}

.list {
    padding-left: 5px;
}

.row:before, .row:after {
    clear:both;
    content: " ";
    display: table;
}


.column-title {
    color: #f14a29;
    letter-spacing: 2px;
    margin-top:0;
    margin-bottom: 0.5rem;
    
}

.column-body {
    font-size: 14px;
}

.selectable:hover {
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #f14a29;
    background: #f14a29;
    color: #fff;
}

.sub-title {
    font-size: 0.8em;
}
