html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 500;
    box-sizing: border-box;
    color: #444;
    margin-top: 1em;
    width: 100%;
    height:100%;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.column {
    border: 1px dashed #bbb;
    padding: 29px; 
    float: left;
    margin: 0 10px 10px 0;
}

.no-border {
    border: none;
}

.no-padding {
    padding: 0;
}

.name-column {
    clear: both;
    width: 330px;
    padding: 30px;
    margin: 0 10px 10px 0;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    background: #0092bf;
    float:left;
    height: 7rem;
    position:relative;
}

.name-column .name {
    float: left;
    width: 10rem;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.3rem;
}

.name-column .photo {
    position:absolute;
    bottom:18px;
    right:20px;
    height:150px;
}

.gravatar {
    border-radius: 50%;
    margin:0;
}

.grid-column {
    width: 475px;
    min-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.header-column {
    width: 500px;
    height: 126px;
}

.full-column {
    width: 899px;
    min-height: 200px;
}

.half-column {
    width: 415px;
    height: 600px;
}
/* quarter is wrong name. Need to give a right name */
.quarter-column {
    width: 415px;
    height: 540px;
    padding: 29px;
    border: 1px dashed #bbb;
}

.column-heading {
    color: #f14a29;
    letter-spacing: 2px;
    margin-top:0;
    margin-bottom: 0.5rem;  
}

.grid-item {
    height: 20px;
    border: 1px dashed #bbb;
    padding: 15px;
}

a, 
a:link, 
a:active,
.a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}


.list {
   padding-left:15px;
}

.project-list {
    padding-left: 0px;
    list-style-type: none;
}
.project-list li {
    margin-top: 20px;
}

.link, a.link{
    color: #0092bf;
}

a.sublink {
    border-bottom: 1px dashed #bbb;
}
a.link:hover {
    text-decoration: underline;
}

h4 {
    margin-bottom: 6px;
}

.row:before, .row:after {
    clear:both;
    content: " ";
    display: table;
}

.column-body {
    font-size: 0.9rem;
    line-height: 1.45;
}

.selectable:hover {
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #f14a29;
    background: #f14a29;
    color: #fff;
}

.sub-title {
    font-size: 0.8em;
}

.grid-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.grid-area-item {

   padding: 10px;
   font-size: 0.9rem;
   text-align: center;
    min-width: 60px;

}

.grid-area-item i {
    font-size: 30px;
}

footer {
    margin: 0;
    font-size: 0.7rem;
    padding: 12px;
    text-align: center;
    background: #0092bf;
    color:white;
}


h5 {
    margin: 15px 0px;
    /*margin-top: 15px;*/
}


.grid-area-item:hover {
    background-color: #0092bf;
    color: white;
    cursor: pointer;
}

.separator {
    border:none;
    border-bottom: 1px dashed #bbb;
}


@media screen and (max-width:500px) {
    
    html, body {
        width: 100%;
        font-size: 16px;
        margin: 0;
    }
   
   .name-column .name {
       float: none;
       padding-bottom: 10px;
   }
   .name-column .photo {
       position: relative;
       bottom: auto;
       right: auto;
       height: auto;
   }
    .container {
        width: auto;
        margin: 10px;
    }

    .name-column {
        padding: 15px;
        float:none;
        width: auto;
        height: auto;
        margin: 0;
        text-align: center;
    }
    
    .column {
        float:none;
        width: 100%;
        padding: 14px;
        
    }

    .header-column {
        width: auto;
        height: auto;
        margin: 0;
        margin-top: 10px;
    }

    .half-column {
        width: auto;
        height:auto;
        margin: 0;
        margin-top: 10px;
    }
    .quarter-column {
        width: auto;
        height: auto;
        margin: 0;
        margin-top: 10px;
    }
    .grid-column {
        width: auto;
        margin-top: 10px;
        justify-content: center;
    }
    .grid-item {
        font-size: 1rem;
        margin: 0 5px 5px 5px;
        border: none;
        padding: 10px;
        text-align: center;
    }
    .full-column {
        width: auto;
        margin: 0;
        margin-top: 10px;
    }
}